/* TYPOGRAPHY */
/* Adapted from http://www.bbc.co.uk/gel/guidelines/typography */
.coltrane {
  /* 	Hero or blog post title */
  font-size: 0px;
  line-height: 0px;
}
.davis {
  /* Article title or section header */
  font-size: 0px;
  line-height: 0px;
}
.holiday {
  /* Sub header */
  font-size: 0px;
  line-height: 0px;
}
.armstrong {
  /* Headline title or subtitle */
  font-size: 0px;
  line-height: 0px;
}
.rollins {
  /* Index links, titles & headlines */
  font-size: 0px;
  line-height: 0px;
}
.monk {
  /* Index body copy & image captions */
  font-size: 0px;
  line-height: 0px;
}
.mingus {
  /*	Time stamps and bylines */
  font-size: 0px;
  line-height: 0px;
}
.body-copy {
  font-size: 0px;
  line-height: 0px;
}