<div class="swiper-container">
  <div class="swiper-wrapper">
    <% for (var i = 0; i < items.length; i++) { %>
        <div class="swiper-slide" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url('/static/files/<%= items[i].image %>') no-repeat center center; -webkit-background-size: cover;  -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
          <div class="c-featured-item">
            <div class="c-featured-item__background"></div>
            <article class="c-featured-item__container">
              <h1 class="c-featured-item__container__title"><%= items[i].show.name %></h1>
              <p class="c-featured-item__container__tagline"><%= items[i].tagline %></p>
              <p class="c-featured-item__container__tagline"><a href="#shows/<%= items[i].show.slug %>">SEE ALL EPISODES</a></p>
            </article>
          </div>
        </div>
    <% } %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
