<section class="c-content">
  <div class="row">
    <div class="col">
      <h1>Wiki</h1>
      <ul>
        <li class="c-wiki__list__item"><a href="#wiki/artists">Artists</a></li>
        <li class="c-wiki__list__item"><a href="#wiki/cities">Cities</a></li>
        <li class="c-wiki__list__item"><a href="#wiki/countries">Countries</a></li>
      </ul>
    </div>
  </div>
</section>