<section class="c-about">
  <div class="row">
    <div class="col">
      <p>Frequency Asia. Tune In.</p>
      <p>Frequency Asia is a podcast, label and radio frequency. We’re a platform-community focused on artists sculpting sound in the largest most populous continent in the world.</p>
      <p>We love to connect musical dots but we thrive on contributions too. We want to get closer to the music in your head – your influences, first loves and lifesavers – we want to help you share the knowledge and passion you have for the music in Asia.</p>
      <p>Frequency Asia’s main goal is to showcase emerging music across the continent but also provide a context for its evolution. Expect the unexpected with us past, present and future.</p>
      <p>From Indonesian subtropical punk, to the great walls of Beijing’s future bass clubs, grabbing some Japan blues along the way and stretching over to 70s Iran for some Farsi funk and bospherous beats from Turkey.</p>
      <p>We are 100% funded by our content creators who are mostly local experts and scene makers themselves meaning you get an honest opinion on what we and they believe is the best music flowing out of Asia today.</p>
    </div>
  </div>
</section>