<a href="#"><div class="c-nav__item js-nav-item">home</div></a>
<a href="#shows"><div class="c-nav__item js-nav-item">shows</div></a>
<a href="#schedule"><div class="c-nav__item js-nav-item">schedule</div></a>
<a href="#wiki"><div class="c-nav__item js-nav-item">wiki</div></a>
<a href="#projects"><div class="c-nav__item js-nav-item">projects</div></a>
<a href="#about"><div class="c-nav__item js-nav-item">about</div></a>