<div class="c-nav__item js-nav-item">
  <a href="#">Home</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#shows">Shows</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#schedule">Schedule</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#about">About</a>
</div>