<div class="c-nav__item js-nav-item">
  <a href="#">home</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#shows">shows</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#schedule">schedule</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#projects">projects</a>
</div>
<div class="c-nav__item js-nav-item">
  <a href="#about">about</a>
</div>