<audio id="stream-player" src="http://airtime.frequency.asia:8000/airtime_128"></audio>
<button id="play-stream" class="c-player__button">
  <span class="icon-play3 js-stream-status"></span>
</button>
<p class="js-stream-text"></p>
<div class="c-player__volume">
  <input type="range" value="8" data-steps="10" id="volume-slider" />
</div>