<section class="c-wiki">
  <div class="row">
    <div class="col">
      <h1>Wiki</h1>
      <ul>
        <li><a href="#wiki/artist">Artists</a></li>
        <li><a href="#wiki/city">Cities</a></li>
        <li><a href="#wiki/country">Countries</a></li>
      </ul>
    </div>
  </div>
</section>