<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Frequency Asia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.min.css') }}">
  </head>
  <body>
    <header class="c-header" role="banner">
      <div class="c-header__content">
        <div class="c-header__content__logo"></div>
        <nav id="nav-container" class="c-nav" role="navigation"></nav>
      </div>
      <aside id="player-container" class="c-player"></aside>
    </header>
    <main id="main-container" class="c-container" role="main"></main>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  </body>
</html>