<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="The best in music from Asia, as curated by the people making it.">
    <meta name="author" content="Frequency Asia">

    <!-- Facebook stuff -->
    <meta property="og:title" content="Frequency Asia">
    <meta property="og:image" content="{{ url_for('static', filename='img/logo_sqr.png') }}">
    <meta property="og:description" content="The best in music from Asia, as curated by the people making it.">

    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71837715-1', 'auto');
      ga('send', 'pageview');

    </script>

    <title>Frequency Asia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.min.css') }}">
  </head>
  <body>
    <header class="c-header" role="banner">
      <div class="c-header__content">
        <a class="u-no-border u-no-padding" href="#"><div class="c-header__content__logo">Home</div></a>
        <nav id="nav-container" class="c-nav" role="navigation"></nav>
      </div>
      <aside id="player-container" class="c-player"></aside>
    </header>
    <main id="main-container" class="c-container" role="main"></main>
    <aside class="c-social u-mobile-hidden">
      <a href="http://www.frequency.asia/shows.atom"><span class="c-social__icon icon-rss-square"></span></a>
      <a target="_blank" href="http://www.facebook.com/freqasia"><span class="c-social__icon icon-facebook-square"></span></a>
      <a target="_blank" href="http://www.twitter.com/freqasia"><span class="c-social__icon icon-twitter-square"></span></a>
      <a target="_blank" href="https://www.instagram.com/freqasia/"><span class="c-social__icon icon-instagram"></span></a>
      <a target="_blank" href="http://www.mixcloud.com/frequencyasia"><span class="c-social__icon icon-mixcloud"></span></a>
    </aside>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  </body>
</html>