<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Frequency Asia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridly/1.1.0/gridly-core.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__content">
        <img class="c-header__logo" src="/static/testlogo.png" />
        <nav id="nav-container" class="c-nav"></nav>
      </div>
      <aside id="player-container" class="c-player"></aside>
    </header>
    <div id="main-container" class="c-container"></div>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  </body>
</html>